<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vuelo">
      <h2 data-cy="vueloDetailsHeading"><span>Vuelo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ vuelo.id }}</span>
        </dd>
        <dt><span>Num Vuelo</span></dt>
        <dd>
          <span>{{ vuelo.numVuelo }}</span>
        </dd>
        <dt><span>Hora</span></dt>
        <dd>
          <span>{{ vuelo.hora | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Origen</span></dt>
        <dd>
          <div *ngIf="vuelo.origen">
            <a [routerLink]="['/aeropuerto', vuelo.origen?.id, 'view']">{{ vuelo.origen?.nombre }}</a>
          </div>
        </dd>
        <dt><span>Destino</span></dt>
        <dd>
          <div *ngIf="vuelo.destino">
            <a [routerLink]="['/aeropuerto', vuelo.destino?.id, 'view']">{{ vuelo.destino?.nombre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/vuelo', vuelo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
